
<div class='page-header'>
     <h1><%= @user.full_name %></h1>
</div>

<div class="qr">
	<table>
        <% @qr.modules.each_index do |x| %>
        	<tr> 
				<% @qr.modules.each_index do |y| %>
           			<% if @qr.dark?(x,y) %>
            			<td class="black"/>
          			<% else %>
            			<td class="white"/>
           		<% end %>
          	<% end %>
          </tr>
        <% end %>
 	</table>
 </div>

<h3>Total de operaciones: <%= @credits.count %></h3>

<table class="table table-striped table-hover">
	<tr>
		<th>ID</th>
		<th>Comercio</th>
		<th>Cantidad</th>
		<th>Fecha/Hora Otorgado</th>
	</tr>
	
	<% @credits.each do |credit| %>
	<tr>
		<td><%= credit.id %></td>
		<td><%= link_to credit.merchant.name, merchant_path(credit.merchant) %></td>
		<td><%= credit.amount %></td>
		<td><%= credit.created_at %></td>
		<% if current_user.try(:admin?) %>
    		<td><%= link_to 'Borrar', credit, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
    	<% end %>
	</tr>
	<% end %>   

</table>