<div data-role="content">

	<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), html: {class: "well"}, :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>

<<<<<<< HEAD
	  <div><%= f.submit "Reenviar email para confirmar mi cuenta" %></div>
	<% end %>
=======
  <div><%= f.submit "Resend confirmation instructions" %></div>
<% end %>
>>>>>>> parent of 206df9b... Devise translated

	<%= render "devise/shared/links" %>

</div>
