<div data-role="content">
  <br><br><br>

  <%= simple_form_for(resource, :as => resource_name, html: {class: "well"}, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div><%= f.label :first_name, label: "Nombre" %>
  <%= f.text_field :first_name %></div>
<!--
  <div><%= f.label :last_name %><br>
  <%= f.text_field :last_name %></div>

  <div><%= f.label :profile_name %><br>
  <%= f.text_field :profile_name %></div>

-->

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password, label: "Contraseña"%>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, label: "Confirmar contraseña" %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Crear mi cuenta" %></div>
<% end %>

</div>



