<<<<<<< HEAD
<div data-role="content">
<br><br>
	<h2>Cambia tu contrase単a</h2>
=======
<h2>Change your password</h2>
>>>>>>> parent of 206df9b... Devise translated

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), html: {class: "well"}, :html => { :method => :put }) do |f| %>
		  <%= devise_error_messages! %>
		  <%= f.hidden_field :reset_password_token %>

<<<<<<< HEAD
		  <div><%= f.label :password, "Nueva contrase単a" %><br />
		  <%= f.password_field :password, :autofocus => true %></div>

		  <div><%= f.label :password_confirmation, "Confirmar nueva contrase単a" %><br />
		  <%= f.password_field :password_confirmation %></div>

		  <div><%= f.submit "Carmbiar mi contrase単a" %></div>
	<% end %>
=======
  <div><%= f.label :password, "New password" %><br />
  <%= f.password_field :password, :autofocus => true %></div>

  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Change my password" %></div>
<% end %>
>>>>>>> parent of 206df9b... Devise translated

	<%= render "devise/shared/links" %>

</div>
