<%= simple_form_for(@merchant) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, label: 'Comercio', required: true, as: :string %>
  <%= f.input :geolat, label: 'Latitud' %>
  <%= f.input :geolon, label: 'Longitud' %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
