<div class="container">
  <div class="row">
    <div class="col-md-4">

		<div class="panel panel-default">
			<div class="panel-heading"><%= @merchant.name %></div>

			<div class="panel-body">
				<p>
					<address>
					<%= @merchant.address_street %>, <%= @merchant.address_number %><br>
					<%= @merchant.address_city %>, <%= @merchant.address_state %>
					</address>
				</p>		
			</div>
				<ul class="list-group">

					<% if not(@merchant.phone.nil?) %><li class="list-group-item icon-phone"><%= @merchant.phone %></li><% end %> 
					<% if not(@merchant.email.nil?) %><li class="list-group-item icon-mail"><%= @merchant.email %></li><% end %> 
					<% if not(@merchant.hours.nil?) %><li class="list-group-item icon-alarm"><%= @merchant.hours %></li><% end %> 
					<% if not(@merchant.website.nil?) %><a class="list-group-item icon-globe" href="<%= @merchant.website %>" target="_blank">Website</a><% end %> 
					<% if not(@merchant.facebook.nil?) %><a class="list-group-item icon-facebook" href="<%= @merchant.facebook %>" target="_blank">Facebook</a><% end %> 	
				</ul>
		</div>
    </div>

    <div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Configuración de créditos</div>
			<div class="panel-body">
				<p>Porcentaje de créditos por compra: <%= @merchant.convertion_rate * 100 %>%</p>
				<p>Período de vigencia: <%= @merchant.days_to_expire %> días</p>
				<div class="page-header">Regalo en tu cumpleaños</div>
				<p>Dar Regalo: <% if @merchant.give_out_birthday_gith %>Sí<% else %>No <% end %></p>
				<p>Cantidad: <%= @merchant.birthday_gift %> </p>
			</div>
		</div>

    </div>

    <div class="col-md-4">

    	<div class="panel panel-default">
			<div class="panel-heading">Membresia</div>
			<div class="panel-body">
				<p>Membresía: <%= @merchant.membership.name %></p>
				<p>Precio: $<%= @merchant.membership.price %>.00</p>
				<p>Efectuar pago antes del: </p>
			</div>
		</div>

    	<div class="panel panel-default">
			<div class="panel-heading">Equipo</div>
			<div class="panel-body">
			Cuentas configuradas que tienen acceso para otorgar y cobrar puntos
			</div>
				<ul class="list-group">

					<% @team.each do |user| %>
						<li class="list-group-item"><%= user.first_name %> | <%= user.email %></li>
					<% end %>

				</ul>
		</div>
		<a href="/merchants/<%= current_user.merchant_id %>/edit"><button class="btn btn-primary">Editar configuracion</button>
</a>
    </div>
  </div>

  <div class="row">
  	<div class="col-md-4">
  		
  	</div>

  	<div class="col-md-4">
  	</div>

  	<div class="col-md-4">
  	</div>

  </div>

</div>

<br><br>

