

<h3>Puntos disponibles: <%= @total_credit %></h3>



<div class="panel panel-default">
  <div class="panel-heading">
     <% if session[:credit_type] == "add" %>Agregar puntos
     <% else %>Cobrar con puntos
     <% end %>
  </div>

  <div class= "panel-body">
    <%= simple_form_for(@credit) do |f| %>
        <%= f.error_notification %>

        	<% if current_user.try(:admin?) %><%= f.input :merchant_id, collection: Merchant.all %> <% end %>
        	<%= f.input :user_id, collection: User.all, label_method: :first_name,  :as => :hidden %>
          
          <% if session[:credit_type] == "add" %>
            <%= f.input :purchase_amount, label: 'Importe de compra', required: true, as: :integer %>
            <% else %>
              <%= f.input :amount, label: "Puntos", html: {class: "form-control required"} %>
           <% end %>



        <div class="form-actions">
          <% if session[:credit_type] == "add" %>
          <%= f.button :submit, "Generar puntos" %>
          <% else %>
          <%= f.button :submit, "Cobrar puntos" %>
          <% end %>
          
        </div>

    <% end %>
  </div>

  <div class="panel-footer"> 
    <% if session[:credit_type] == "add" %>Los puntos se calculan a partir del importe de la compra y el % que otorga el comercio. Si hubiera promociones se calculan automáticamente.
     <% else %>Ingresa el total de puntos a descontar.
    <% end %>
     </div>
</div>


