<% if current_user.try(:admin) %>
	
	<div data-role="header">
		<h1>Creditos otorgados</h1>
	</div>

		<div data-role="content">
			<table class="table table-striped table-hover">
				<tr>
					<th>ID</th>
					<th>Comercio</th>
					<th>Importe Compra</th>
					<th>Conversión</th>
					<th>Puntos</th>
					<th>Fecha/Hora Otorgado</th>
					<th>Vence</th>
				</tr>
				
				<% @credits.each do |credit| %>
				<tr>

					<td><%= credit.id %></td>
					<td><%= credit.merchant.name %></td>
					<td><%= credit.purchase_amount %></td>
					<td><%= credit.convertion_rate %></td>
					<td><%= credit.amount %></td>
					<td><%= credit.created_at %></td>
					<td><%= credit.expires_on %></td>
				</tr>
			<% end %>   
			</table>
		</div>

<% end %>
	
<% if current_user.try(:isMerchantUser?) %>
		<br>
		<div data-role="header">
			<h1>Creditos otorgados</h1>
		</div>

		<div data-role="content">
			<table class="table table-striped table-hover">
				<tr>
					<th>ID</th>
					<th>Importe Compra</th>
					<th>Conversión</th>
					<th>Puntos</th>
					<th>Fecha/Hora Otorgado</th>
					<th>Vence</th>
				</tr>
				
				<% @credits.each do |credit| %>
				<tr>

					<td><%= credit.id %></td>
					<td><%= credit.purchase_amount %></td>
					<td><%= credit.convertion_rate %></td>
					<td><%= credit.amount %></td>
					<td><%= credit.created_at %></td>
					<td><%= credit.expires_on %></td>
				</tr>
			<% end %>   
			</table>
		</div>

		<% if not(current_user.try(:admin)) and not(current_user.try(:isMerchantUser))  %>

			<div data-role="content">
			    <ul data-role="listview">
			    <% @credits.each do |credit| %>
			    <li>
			        <%= link_to credit_path(credit) do %>
			        <h3><%= credit.user.first_name %></h3><p><%= credit.amount %></p>
			        <% end %>
			    </li>
			    <% end %>
			    </ul>
			</div>
		<% end %>
<% end %>