<!DOCTYPE html>
<html>
<head>
  <title>Monedero</title>
  	<meta name="viewport" content="width=device-width">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48753453-1', 'sheltered-chamber-1367.herokuapp.com');
	  ga('send', 'pageview');

	</script>
</head>
<body>


<!-- Fixed Navigation Bar ==========-->
	 <div class="navbar navbar-default navbar-fixed-top">
    	<div class="container">
      <div class= "navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a href="#" class="navbar-brand"><span class="icon-gift"></span>Hasta Pronto!</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
	        <!-- User signed-in? -->
	        <% if user_signed_in? %>     
					<li class="dropdown">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown"=><%= current_user.first_name%> <b class="caret"></b></a>
			              <ul class="dropdown-menu">
			                <li><%= link_to "Ajustes", edit_user_registration_path, class: "icon-cog" %></li>
			                <li><%= link_to "Preguntas frecuentes", faqs_path, class: "icon-wondering" %></li>
			                <li><%= link_to "Términos y Condiciones", edit_user_registration_path, class: "icon-books" %></li>       
       			            <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "icon-exit" %></li>
			              </ul>  
					</li>


				<% else %>
					<li><%= link_to "Iniciar Sesión", new_user_session_path %></li>
					<li><%= link_to "Registrarme", new_user_registration_path %></li>
				<% end %>
		</ul>
      </div>
    </div>
  </div>

<!-- Flash Messagges====-->
<br><br>
<div class="container">
	<% flash.each do | type, message | %>
			<div class="alert <%= flash_class type %>">
 			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  			<%= message %>
		</div>
		<% end %>
	
	<%= yield %>
</div>


<!--Bottom Nav Bar-->




<% if user_signed_in? %>
	<ul class="nav nav-justified navbar-fixed-bottom nav-tabs">

	
	<% if current_user.try(:admin?) %>
		  <li class="<%= 'active' if params[:controller] == 'merchants' %>"> <a href="/merchants">Comercios</a> </li>
		  <li class="<%= 'active' if params[:controller] == 'credits' %>"> <a href="/credits">Creditos</a> </li>
		  <li class="<%= 'active' if params[:controller] == 'profiles' %>"> <a href="/profiles">Usuarios</a> </li>        
	<% else %>

<!-- is Merchant User? -->
		<%if current_user.try(:isMerchantUser?) %>

			<ul class="nav nav-justified navbar-fixed-bottom nav-tabs">
			  <li class="<%= 'active' if params[:controller] == 'profiles' %>"> <a href="/profiles">Usuarios</a> </li>
			  <li class="<%= 'active' if params[:controller] == 'credits' %>"> <a href="/credits">Creditos</a> </li>      

		<% else %>

<!-- Regular Signed-in User -->

			<ul class="nav nav-justified navbar-fixed-bottom nav-tabs">
			  <li class="<%= 'active' if params[:controller] == 'merchants' %>"> <a href="/merchants">Comercios</a> </li>
			  <li class="<%= 'active' if params[:controller] == 'profiles' %>"> <a href="/qrcode/<%= current_user.id %>">Codigo QR</a> </li>
			  <li class="<%= 'active' if params[:controller] == 'profiles' %>"> <a href="/profiles/<%= current_user.id %>">Creditos</a> </li>       

			<% end %>
		<% end %>

	</ul>
<% end %>

</body>
</html>
