<!DOCTYPE html>
<html>
<head>
  <title>Monedero</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  		<div class="navbar-inner">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			      <span class="sr-only">Toggle navigation</span>
			      
			    </button>
			    <a class="navbar-brand" href="#">Monedero</a>
			   	<% if current_user.try(:admin?) %>
			    	<p class="navbar-text navbar-right"><%= link_to "Credito", credits_path %></p>
			    	<p class="navbar-text navbar-right"><%= link_to "Comercios", merchants_path %></p>
			    	<p class="navbar-text navbar-right"><%= link_to "Usuarios", profiles_path %></p>
				<% end %>
			</div>
			
			<div class = "nav pull-right">
				<% if user_signed_in? %> 
			    	<li class="navbar-right"><%= link_to current_user.full_name, profile_path(current_user) %></li>
			    	<li class="navbar-right"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
				
					<% else %>
						<li class="navbar-right"><%= link_to "Register", new_user_registration_path %></li>
						<li class="navbar-right"><%= link_to "Log In", new_user_session_path %></li>
				<% end %>
			</div>
	  	</div>
	</nav>




	<div class="container">
		<% flash.each do | type, message | %>
			<div class="alert <%= flash_class type %>">
 			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  			<%= message %>
		</div>
		<% end %>

		  <%= yield %>
	</div>



<% if user_signed_in? %> 
	<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
		<div class="btn-group btn-group-justified">
  			<div class="btn-group">
    			<%= link_to "Credito", profile_path(current_user), class: "icon-credit btn btn-default navbar-btn" %>
  			</div>
  			<div class="btn-group">
    			<%= link_to "Comercios", merchants_path, class: "icon-flag btn btn-default navbar-btn" %>
  			</div>
 			 <div class="btn-group">
				<%= link_to "Hot Deals", credits_path, class: "icon-star btn btn-default navbar-btn" %>
			</div>
		</div>
		
	</nav>
	<% end %>
</body>
</html>
